body {
  background-color: rgb(161, 235, 235);
  margin: 0px;
}
.sec1 {
  z-index: 3;
  position: sticky;
  top: 0;
  height: 50px;
  font-size: 40px;
  color: blue;
  text-align: left;
  padding-left: 50px;
  background-color: rgb(236, 209, 100);
  box-shadow: 2px 10px 10px rgb(105, 104, 99);
}
.sec2 {
  width: 100%;

  background-color: rgb(161, 235, 235);
}
.flexcon {
  clear: right;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.flexitem {
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
}
.addnew {
  position: relative;
  bottom: 0px;
  font-size: 30px;
  color: brown;
  float: right;
}
.addnew1 {
  position: relative;
  bottom: -20px;
  font-size: 30px;
  color: brown;
  float: right;
}
.fontstyle {
  filter: blur(2px);
  text-decoration: line-through;
  font-size: 32px;
}

@media (max-width:375px) and (max-height:812px)
 /*iphoneX*/
 {
  body {
    width: 375px;
  }
  .sec1 {
    position: fixed;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .sec2{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
  }
  .flexcon {
    width: 375px;
    height: auto;
    clear: none;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 70px;
  }

}
@media (max-width:825px) and (min-width:1175px)
{
  .flexitem{
    margin-left: 100px;
  }
}
